/* src/styles/theme.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* White */
    --foreground: 222.2 84% 4.9%; /* Dark Slate Gray */
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%; /* Dark Blue */
    --primary-foreground: 210 40% 98%; /* Almost White */
    --secondary: 210 40% 96.1%; /* Light Grayish Blue */
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%; /* Slate Gray */
  }

  .dark {
    --background: 222.2 84% 4.9%; /* Dark Slate Gray */
    --foreground: 210 40% 98%; /* Almost White */
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --primary: 210 40% 98%; /* Almost White */
    --primary-foreground: 222.2 47.4% 11.2%; /* Dark Blue */
    --secondary: 217.2 32.6% 17.5%; /* Darker Blue-Gray */
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%; /* Lighter Slate Gray */
  }
}